.container{ 
    margin-left: 180px;
    margin-right: 180px;
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.socialNetworks{
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon{
    cursor: pointer;
    
}