.container {
    border: none;
    color: rgb(151, 138, 36);
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
   margin-left: 180px;
   margin-right: 180px;
}
.Links { display: flex;
    gap: 30px;
    align-items: center;
    font-size: 20px;
    
}
.sss{
    font-weight: bold;
      font-size: 25px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }