.container {
    border: none;
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Links { display: flex;
    gap: 30px;
    align-items: center;
    
}