.container {
    border: none;
    background-image: linear-gradient(
        to right,
        rgb(220, 231, 130),
        rgb(71, 204, 45) 50%,
        rgb(71, 204, 45) 50%
      );
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.Links { display: flex;
    gap: 30px;
    align-items: center;
    font-size: 20px;
    
}
.sss{
    font-weight: bold;
      font-size: 25px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }