* {
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
}
    
    
a {
    text-decoration: none;
    color: inherit;
  }
  .container { 
    max-width: 1366px;
    min-height:100vh;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
   
  
  }.dark {
    background-color: #111;
    color: #bbb;

  }
  .DarkAndYellow {
    background: linear-gradient(
      to right,
      rgb(77, 85, 33),
      rgb(11, 34, 43),
      rgb(61, 55, 25)
    );
    color: white;

  }
