.container{ 
    margin-left: 180px;
    margin-right: 180px;
    
    height: 50px;
    display: flex;
    
    align-items: center;
    gap: 20px;
    
}

.v{ display: flex;
    margin-bottom: flex;
    color: rgb(208, 226, 39);
    cursor: pointer;
    font-size: 20px;
   
   
}

